@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
@import url(http://spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-jp.css);


@font-face { font-family: 'BMYEONSUNG'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMYEONSUNG.woff') format('woff'); font-weight: normal; font-style: normal; }

.ys { font-family: 'BMYEONSUNG'!important; font-weight: normal;}
* { font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif'; }

.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb15{margin-bottom: 15px;}.mb20{margin-bottom: 20px;}.mb25{margin-bottom: 25px;}.mb30{margin-bottom: 30px;}
.mt5{margin-top:5px;}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}.mt30{margin-top:30px}
.mr5{margin-right:5px;}.mr10{margin-right:10px;}.mr15{margin-right:15px;}.mr20{margin-right:20px;}.mr30{margin-right:30px;}
.ml5{margin-left: 5px;}.ml10{margin-left: 10px;}.ml15{margin-left: 15px;}.ml20{margin-left: 20px;}.ml30{margin-left: 30px;}
.tc {text-align: center;}
.pc {color:#5fcae2}
.pr {position: relative;}
.sc {color: #ffd585}
.cp {cursor: pointer}
.oh:hover {opacity: 0.7;}
.ts{transition: all 0.2s ease-in-out;}
.dib{display: inline-block;}
.fwb{font-weight: bold;}
.fw
.f10 {font-size:10px;}.f16{font-size:16px;}.f20{font-size:20px;}
.rot90 {transform: rotate(90deg);}
.bs{box-shadow: 1px 2px 4px rgba(0,0,0,0.2);}
.fixed_header {position: absolute; top:20px;right:20px;}

.main_page .tag {font-size:14px;}
.main_page .tag.keyword {font-size:14px;}

.content{width:980px; margin: 20px auto;}
.arrow_pr {position: relative;}
.scButton {border-radius: 10px; font-size:24px; background-color:white;width:inherit;padding:10px 20px;}
.profile_picture {width:64px; height:64px; background-size: cover; background-position; 50%; background-color:#EEE; border:1px solid #DDD; border-radius:50%;}
.announce_comment {border:1px solid #DDD; padding:15px 20px; line-height: 1.8em;position: relative;}
.highlighter_keyword {background-color: #ffd585;}
.highlighter_other {background-color:#5fcae2;cursor: pointer;}
.highlighter_other:hover{opacity: 0.7;}
.tooltip {
    z-index:1;
    display:none;
    position: absolute;
    width:500px;
    background-color: rgba(255,255,255,0.9);
    border:1px solid #5fcae2;
    border-radius: 5px;
    padding:15px 20px;
}
.highlighter_other:hover + .tooltip {display: block;animation-duration: 0.5s;
    animation-name: fadeIn;}
.profile_area:hover + .tooltip {display: block;animation-duration: 0.5s;
    animation-name: fadeIn;}
.about:hover + .tooltip {display: block;animation-duration: 0.5s;
    animation-name: fadeIn;}

.tag { background-color:#5fcae2; color:white; border-radius: 5px; padding:2px 5px; margin-right:5px; display: inline-block;font-size:12px; line-height:1.5em} 
.tag.keyword { background-color:#ffd585; color:#333; border-radius: 5px; padding:5x 15px; margin-right:5px; display: inline-block;font-size:18px; line-height:1.5em} 

.fit {
    animation-duration: 0.5s;
    animation-name: fadeIn;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }