<div class="header tc" style="width:100%;height:360px;background-color:#5fcae2">
        <div class="fixed_header ys f20 cp ts" style="color:white;">   
            <span class="about oh ys">대한민국국회실록이란?</span>
            <div class="tooltip2" style="right:10px;top:30px; width:350px;padding:30px;">
                <div class="ys" style="color:#333;font-size:28px;">대한민국국회실록</div>
                <div class="ys pc mt10" style="font-size:20px;">팩트로 쓰고 팩트로 놀기</div>
                <div class="mt20" style="font-size:13px;color:#333; line-height: 1.8em; text-align: left;">
                    <b>대한민국국회실록</b>은 가장 많은 눈이 쏠려 있는 곳인 국회의 시시콜콜함을 기록해 놓은 회의록을 DB화 해 <span class="fwb pc">1_ searchable</span>,  <span class="fwb pc">2_playable</span>한 형태로 제공하는 서비스 입니다.  <br><br>
                    <img src="img/about.jpg" style="width:100%"><br><br>
                    팩트체크, 원자료를 활용한 기사 쓰기, 적극적인 뉴스 소비의 목적을 달성하기 위해 검색 가능한 형태로 회의록을 제공하고, 자신이 발견한 중요한 회의록 내용을 다른 사람과 공유할 수 있는 하일라이트 기능과 크롬 익스텐션을 통한 직접적인 팩트체크 기능은 뉴스 소비자의 적극적인 뉴스 활용을 가능하게 하고 정치에 대한 접근성을 높여줍니다.
                </div>
               
                <div class="mt10 fwb ys" style="color:#333">
                    팀 쨈 Jjam
                </div>
                <div class="mt5 ys" style="color:#999; font-size:12px;">
                    Project Manager 장슬기 Developer 이두희 Designer 이준원<br>
                    For 2019 Google Media Hackathon
                </div>
            </div>
        </div>
        
        <div class="tc ys mb20" style="font-size:48px; color:white; padding-top:100px;">
            대한민국국회실록
        </div>
        <div style="width:300px;" class="dib">
            <input type="text" id="input_person" name="person" class="form-control" placeholder="인물명을 입력하세요">
        </div>
        <div style="width:300px;" class="dib">
            <input type="text" id="input_keyword" name="keyword" class="form-control" placeholder="키워드를 입력하세요">
        </div><br>
        <div class="tc">
            <div id="search_button" class="scButton pc oh cp ts bs ys mt20"  style="width:300px;display: inline-block;">인물&키워드 검색하기</div>
        </div>
    </div>
    <div class="content main_page">
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col tr">
                <div style="margin:15px auto">
                    <span style="color:#333;font-size:24px;" class="ys"> 태그로 검색</span><input type="text" class="form-control" name="tag" placeholder="관심태그를 입력하세요">
                </div>
                <div class="tr">
                    <div class="scButton pc oh cp ts bs ys tr" style=" background-color:#5fcae2; border-radius:0;  color:white;display: inline-block; font-size:16px;padding:5px 10px;float:right">회의록 태그 검색하기</div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div style=" margin:15px auto">
                    <span style="color:#333;font-size:24px;" class="ys"> 기사 URL로 검색</span><input type="text" class="form-control" name="tag" placeholder="기사의 URL을 입력하세요">
                </div>
                <div class="tr">
                    <div class="scButton pc oh cp ts bs ys tr" style=" background-color:#5fcae2; border-radius:0;  color:white;display: inline-block; font-size:16px;padding:5px 10px;float:right">회의록 URL로 검색하기</div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--6-col">
                <div class="f20 mt20 mb20 fwb ys" style="font-size:24px;">
                    인기 태그 & 키워드
                </div>
                <div class="bs" style="padding:15px 20px; line-height: 40px;">
                    <% tags = %w[#장애인비하 #비하발언 미세먼지 #국정감사_죄송 공유경제 #제식구감싸기 #공유경제 #유머 #사퇴하세요 블랙리스트 #미세먼지 #반말왕 연동형 #사물높임법 ] %>
                    <% tags.each do |x| %>
                      <a href="https://assembly-fact-sheet.com/published/search_result_tag.html"><div class="tag <%= x[0] == "#"? "" : "keyword" %> oh cp ts"><%= x %></div></a>
                    <% end %>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="f20 mt20 mb20 fwb ys" style="font-size:24px;">
                    주목받는 발언자
                </div>
                <div class="bs" style="padding:15px 20px;">
                    <table class="profile_area cp oh ts">
                        <tr> 
                            <td style="width:80px; vertical-align: top;">
                                <div class="profile_picture dib" style="background-image: url('img/user_profile.png')"></div>
                            </td>
                            <td class="tl">
                                <div class="f16 fwb mt5">김무성 <span style="font-size:14px; font-weight: normal; color:#999">자유한국당</span></div>
                                <div>검색 횟수 <span class="pc fwb">10</span>회</div>
                            </td>
                        </tr>          
                    </table>
                    <table class="profile_area cp oh ts mt10">
                            <tr> 
                                <td style="width:80px; vertical-align: top;">
                                    <div class="profile_picture dib" style="background-image: url('img/user_profile.png')"></div>
                                </td>
                                <td class="tl">
                                    <div class="f16 fwb mt5">김무성 <span style="font-size:14px; font-weight: normal; color:#999">자유한국당</span></div>
                                    <div>검색 횟수 <span class="pc fwb">10</span>회</div>
                                </td>
                            </tr>          
                        </table>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="f20 mt20 mb20 fwb ys" style="font-size:24px;">
                    팩트체크 당한 기사
                </div>
                <div class="bs" style="padding:15px 20px;">
                    <div class="article_area">
                        <div class="f16 fwb"><span class="pc">1. </span>'버닝썬 마약' 이문호·애나, 영장심사 출석…'묵묵부답</div>
                        <div class="ml20"style="color:#999; font-size:12px">http://news.naver.com/main/read.nhn?mode=LSD&....</div>
                        <span class="ml20 pc fwb">
                            123
                        </span>
                        <span>
                            개의 발언과 관련있습니다.
                        </span>    
                    </div>
                    <div class="article_area mt10">
                        <div class="f16 fwb"><span class="pc">2. </span>[속보]진주 방화·살인범 안인득 얼굴공개</div>
                        <div class="ml20"style="color:#999; font-size:12px">http://news.naver.com/main/read.nhn?mode=LSD&....</div>
                        <span class="ml20 pc fwb">
                            42
                        </span>
                        <span>
                            개의 발언과 관련있습니다.
                        </span>    
                    </div>
                </div>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
                <div class="f20 mt20 mb20 fwb ys" style="font-size:24px;">
                    화제의 발언
                </div>
                <div class="bs" style="padding:15px 20px;">
                    <div class="dialog_area">
                        <div class="fwb"><span class="pc">1. </span> 장제원 간사님, 체력이 약한 사람들도 좀 배려해 주십시오. / 체력이 약하면 더 키워오십시오.
                        <span style="color:#999; font-size:12px;font-weight: normal;">20대, 국정감사, 22회 1차 (2018-10-21)</span> </div>
                    </div>
                    <div class="dialog_area mt10">
                        <div class="fwb"><span class="pc">2. </span>  "아니 초선의원도 아니고!" 
                        <span style="color:#999; font-size:12px;font-weight: normal;">220회 1차 (2012-08-21) </span> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%= render partial: "home/auto_complete" %>
